<section class="page-content">
    <!--<form class="app-search-form">
        <div class="mdl-textfield">
            <input required class="mdl-textfield__input" type="text" id="searchTerm" autocomplete="off" #searchInput>
        </div>
        <button (click)="onSearch(searchInput.value)" class="mdl-button mdl-button--raised mdl-button--accent">
        Search
    </button>
    </form>-->
    <h1>This is not the search component - this is the rendering of a search and subscriptions component basic idea</h1>
    <div class="no-results">
        <h6 class="mdl-card__title-text">{{message}}</h6>
    </div>
    <p>{{item}}</p>

    <!--<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-xs-6 col-md-3" *ngFor="let item of items">
                    <a [href]="item.artworkUrl100" class="portfolio-box">
                        <img [src]="item.artworkUrl100" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{item.primaryGenreName}}
                                </div>
                                <div class="project-name">
                                    {{item.collectionCensoredName}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>-->

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-xs-6 col-md-3" *ngFor="let item of items">
                    <a [href]="item.image" class="portfolio-box">
                        <img [src]="item.image" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{item.title}}
                                </div>
                                <div class="project-name">
                                    {{item.author}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>