#root {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/itunes-on-iphone-podcast-headphones-241-1024x577.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; 
}