<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
            <h2>About this project !!!! Text not ready yet !!!! </h2>
            <h3>Project name: Podcaster</h3>

The Podcaster teamwork project was created as part of Telerik Academy 2015-2016 "Single-page Applications with Angular 2" course.

The authors are Daniel Nikolov and Angela Teneva - team Directive4.

The project is a single-page application created to podcast amazing contents, such as audio, video, photos, text

and any information which could be podcasted in Internet.

The application works fine on any device: mobile, tablet, laptop, or desktop, playing the role of a pod just like the iPod. 

Tehnical specifications:

We used Angular2, Typescript and Bootstrap.

Server is powered by Firebase.

Unit tests were written using Karma.

Link to the project's repository  
            </div>
        </div>
    </div>
</section>