<div id="header">
    <div class="header-content">
        <div class="header-content-inner bg-primary">
            <img class="img-responsive" src="../../../assets/images/logo.png" alt="Logo">
            
            <h1 id="homeHeading">Project name: Podcaster</h1>
            <hr>
            <p>The Podcaster teamwork project was created as part of Telerik Academy 2015-2016 "Single-page Applications with Angular 2"
            course.<br/> 
            The authors are Daniel Nikolov and Angela Teneva - team Directive4.<br/>
            The project is a single-page application
            created to podcast amazing contents, such as audio, video, photos, text and any information which could be podcasted
            in Internet. The application works fine on any device: mobile, tablet, laptop, or desktop, playing the role of
            a pod just like the iPod.<br/>Tehnical specifications:<br/> We used Angular2, Typescript and Bootstrap. Server is powered
            by Firebase. Unit tests were written using Karma. 
            </p>
            <a href="https://github.com/Horwits/Podcaster">Link to the project's repository</a>
        </div>
    </div>
</div>