<section class="page-content">
  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        <div class="col-xs-6 col-md-3" *ngFor="let item of items">
          <a [href]="item.image" class="portfolio-box">
            <img [src]="item.image" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  {{item.title}}
                </div>
                <div class="project-name">
                  {{item.author}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>